$sizes: ("xs":320px, "sm":576px, "md":768px, "lg":992px, "xl":1200px)

@mixin media($minmax, $media) 
  @each $size, $resolution in $sizes 
    @if $media == $size 
      @media only screen and (#{$minmax}-width: $resolution) 
        @content;
      
      
@mixin background($position:0 0,$repeat: no-repeat, $size: cover, $image: none)
    background: 
        position: $position
        repeat: $repeat
        size: $size
        image: $image
    
.type_form
    color: #ffffff
    width: 100%
    font-size: 20px
    display: flex
    justify-content: center


.passp-bg
    display: flex
    z-index: 20
    min-width: 780px
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    width: 100%
    height: 100%
    background-repeat: no-repeat
    background-position: 50%
    background-size: cover
    background-image: url('../../../img/4_bg.jpeg')

   

body
    
    background-color: #ffffff  
    width: 100%
    height: 700px
    margin: 0
    box-sizing: border-box
    
    

form
    position: relative
    justify-self: center
    align-self: center
    background: transparentize(#000000, 0.2)
    border-radius: 15px
    margin: 0 auto 
    width: 400px
    height: 500px

h3
    font-family: 'Roboto', sans-serif


.email_input
    top: 20px
    position: relative
    .email_layout
        text-align: center
        font-size: 18px
        width: 338px
        height: 55px
        background: #FBFBFB
        border: 2px solid #585858
        box-sizing: border-box
        backdrop-filter: blur(4px)
        border-radius: 12px
        font-size: 18px
        &:focus
            text-align: left
    h3
        font-family: 'Roboto', sans-serif
        font-size: 16px
        font-weight: 400
        color: #ffffff
        text-align: left
        margin-left: 40px

.password_input
    top: 40px
    position: relative
    .password_layout
        text-align: center
        font-size: 18px
        position: relative
        width: 338px
        height: 55px
        background: #FBFBFB
        border: 2px solid #585858
        box-sizing: border-box
        backdrop-filter: blur(4px)
        border-radius: 12px
        &:focus
            text-align: left
            
    h3
        font-family: 'Roboto', sans-serif
        font-size: 16px
        font-weight: 400
        color: #ffffff
        text-align: left
        margin-left: 40px
    
.button_reg
    position: relative
    width: 338px
    height: 55px
    top: 60px
    background: #FFEC42
    border-radius: 12px
    font-family: 'Roboto', sans-serif
    font-size: 19px
    font-weight: 500
    color: #131313
    text-align: center
    transition: 0.4s
    &:hover
        transform: scale(0.99, 0.99)

.error_mes
    color: #b61919
    font-family: 'Roboto', sans-serif
    font-size: 16px
    font-weight: 600


.pass_repair
    position: relative
    margin-top: 75px
    color: #ffffff
    font-weight: 300
    margin-left: 110px
    float: left
    &:hover
        color: #FFEC42